<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_mcp._tcp</string>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>iMCP needs permission to send messages through Messages.app.</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://downloads.imcp.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>+2ibtYfPSNKpUJsn1R9Ywc1GnjQA5vemVN95d0EzGxg=</string>
</dict>
</plist>
